{{#if isMobile}}

{{#slide-out
  isOpen=openSlideOut
  showToggleButton=true
  panel="so-panel"
  tagName="nav" as |panel plans|}}

  <button {{action "toggleSlideOut"}}>toggle slide out</button>
  Panel-Class: <pre>{{panel}}</pre>
  {{partial "nav-bar"}}

  <hr>
  <ul>
  {{#each plans as |plan|}}
    <li>{{plan.name}} ({{plan}})</li>
  {{/each}}
  </ul>
  <hr>
{{/slide-out}}

{{/if}}

<div class="so-panel">

  <h2 id="title">Welcome to Ember.js</h2>
  {{#if isMobile}}
  <button {{action "toggleSlideOut"}}>toggle slide out</button>
  {{/if}}

  <button {{action "toggleMobile"}}>toggle mobile</button>

  <ul>
  {{#each plans.selectedPlans as |plan|}}
    <li>{{plan.name}} ({{plan}})</li>
  {{/each}}
  </ul>

  {{outlet}}

</div>
